.bg-tangerin {
    background-color: #F48E28;
}

.text-tangerin {
    color: #F48E28;
}

.bg-white {
    background-color: #FFF;
}
.text-white {
    color: #FFF;
}

.bg-black {
    background-color: #000;
}
.text-black {
    color: #000;
}

.bg-tangerine-light {
    background-color: #F5DDC4;
}
.text-tangerine-light {
    color: #F5DDC4;
}
.card-img-top {
    max-height: 400px; /* Limite la hauteur des images */
    object-fit: cover; /* Ajuste la taille de l'image tout en conservant les proportions */
  }
  .favori {
    border: 2px solid #ffc107; /* Bordure jaune pour indiquer que la recette est ajoutée aux favoris */
    padding: 10px;
    margin-bottom: 10px;
  }

